@model Microsoft.Online.Demos.Aadexpense.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Invoice</legend>

    <div class="display-label">Employee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee)
    </div>

    <div class="display-label">Reason</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reason)
    </div>
    
    <div class="display-label">SubmitDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubmitDate)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Employee Invoice Items</h2>
<div class="InvoiceDetailViewItems">
    
    <table class="InvoiceListView">
    <tr>
        <th>
            Date
        </th>
        <th>
            Expense
        </th>
        <th>
            Amount
        </th>
        <th>
        </th>
    </tr>

    @foreach( var item in Model.Items)
    {
        @Html.Partial("_ItemsManager", item)
    
    }
    
    </table>